<nav id="sidebar-icon-links">
  {% if site.github.repo %}
    <a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project"
       href="{{ site.github.repo }}" target="_blank">
      {% include svg/github.svg %}
    </a>
  {% endif %}

  <a id="facebook-link"
    class="icon" title="Facebook" aria-label="Facebook"
    href="{{ site.facebook }}" target="_blank">
  {% include svg/facebook.svg %}
  </a>

  <a id="linkedin-link"
  class="icon" title="Linkedin" aria-label="Linkedin"
  href="{{ site.linkedin }}" target="_blank">
  {% include svg/linkedin.svg %}
  </a>
  
  <a id="wechat-link"
    class="icon" title="Wechat" aria-label="Wechat"
    href="https://leejunhyun.github.io/about.html" target="">
  {% include svg/wechat.svg %}
  </a>


  {% comment %}
    Check if we have tag or search pages page active before linking to it.
  {% endcomment %}
  {% assign tags_page = false %}
  {% assign search_page = false %}
  {% assign archive_page = false %}
  {% for node in site.pages %}
    {% if node.layout == "tags" %}
      {% assign tags_page = node %}
    {% elsif node.layout == "search" %}
      {% assign search_page = node %}
    {% elsif node.layout == "archive" %}
      {% assign archive_page = node %}
    {% endif %}
  {% endfor %}

  <nav id="sidebar-nav-links">

  {% if search_page %}
    <a id="search-link"
       class="page-link{% if page.url == search_page.url %} active{% endif %}"
       title="Search" aria-label="Search"
       href="{{ site.baseurl }}{{ search_page.url }}">
      Keyword Serch
    </a>
  {% endif %}


  {% if tags_page %}
  <a class="page-link{% if page.url == tags_page.url %} active{% endif %}"
    href="{{ site.baseurl }}{{ tags_page.url }}">Tag Search</a>
  {% endif %}


  {% if archive_page %}
    <a class="page-link{% if page.url == archive_page.url %} active{% endif %}"
      href="{{ site.baseurl }}{{ archive_page.url }}">Archive</a>
  {% endif %}
</nav>
  {% include custom-icon-links.html %}
</nav>
